@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

#content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#content .text-part {
  flex: 1;
}

#content .image-part {
  flex: 1;
  padding-top: 30px;
}

.code-link {
    text-align: right;
    font-size: 60%;
}

.namebadge {
    width: 500px;
}
.namebadge img {
    width: 100%;
    height: auto;
}

#output {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -220px;
  height: 200px;
  max-width: 460px;
  margin-left: 20px;
  word-wrap: break-word;
  font-size: 80px;
  line-height: 90%;
  font-weight: bold;
  font-family: "Times New Roman", serif;
  text-align: center;
  font-family: 'Kalam', cursive;
}
