#output {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px black;
  min-height: 100px;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: darkgray;
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}

.text:nth-child(odd) {
  text-align: left;
}

.text:nth-child(odd) p {
  background-color: rgb(233, 233, 233);
  color: black;
}

.text:nth-child(even) {
  text-align: right;
}

.text:nth-child(even) p {
  background-color: #45ba59;
  color: white;
}